<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite parallel="tests" name="Test On BrowserStack with different platform" thread-count="4">

	<listeners>
		<listener
			class-name="com.learnautomation.utility.ExtentTestNGITestListener" />
	</listeners>

	<test name="TestOnWindows11Chrome">
		
		<parameter name="cloud" value="true"/>
		<parameter name="os" value="Windows"/>
		<parameter name="os_version" value="11"/>
		<parameter name="browser" value="Chrome"/>
		<parameter name="browser_version" value="latest"/>

		 <classes>
			<class name="com.learnautomation.testcases.LoginTestWithPOMWithFactory"/>
		</classes> 
	</test> 
	
	<test name="TestOnWindows10Chrome">
		
		<parameter name="cloud" value="true"/>
		<parameter name="os" value="Windows"/>
		<parameter name="os_version" value="10"/>
		<parameter name="browser" value="Chrome"/>
		<parameter name="browser_version" value="latest"/>

		<classes>
			<class name="com.learnautomation.testcases.LoginTestWithPOMWithFactory"/>
		</classes>
	</test> 
	
</suite>
